<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <app-card-container title="Botones y toggles">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider class="mt-16 mb-16"></mat-divider>
    <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
    <p>
      <mat-slide-toggle labelPosition="before"
        >...and slide me too!</mat-slide-toggle
      >
    </p>
    <mat-divider class="mt-16 mb-16"></mat-divider>
    <app-buttons></app-buttons>
  </app-card-container>
  <mat-divider class="mt-16 mb-16"></mat-divider>
  <app-card-container title="Checkbox">
    <app-checkbox></app-checkbox>
  </app-card-container>

  <mat-divider class="mt-16 mb-16"></mat-divider>

  <app-card-container title="Cards">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> Australian Shepherd</mat-card-title>
        <mat-card-subtitle>Herding group</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>Learn More</button>
      </mat-card-actions>
    </mat-card>
    <br />
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Poodle</mat-card-title>
        <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>Learn More</button>
      </mat-card-actions>
    </mat-card>
  </app-card-container>

  <mat-divider class="mt-16 mb-16"></mat-divider>

  <app-card-container title="Chips">
    <mat-chip-listbox aria-label="Cutest dog breeds">
      @for (dog of bestBoys; track dog) {
      <mat-chip-option>{{ dog }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </app-card-container>

  <mat-divider class="mt-16 mb-16"></mat-divider>

  <app-card-container title="Stepper">
    <app-stepper></app-stepper>
  </app-card-container>
  <mat-divider class="mt-16 mb-16"></mat-divider>
  <app-card-container title="Tabs">
    <app-tabs></app-tabs>
  </app-card-container>
</div>
