
:root {
  /* Base colors */
  --my-primary: #132823;
  --my-primary-container: #e6f2ed;
  --my-on-primary: #ffffff;
  --my-on-primary-container: #0a140f;

  --my-secondary: #00d69e;
  --my-secondary-container: #ccfff0;
  --my-on-secondary: #003d2e;
  --my-on-secondary-container: #001a13;

  --my-tertiary: #90d474;
  --my-tertiary-container: #e8fce0;
  --my-on-tertiary: #1e4012;
  --my-on-tertiary-container: #0d1f08;
}


html {
  /* Variables personalizadas --my-* */
  color-scheme: light;
 
    /* PRIMARY */
  --mat-sys-primary: var(--my-primary);
  --mat-sys-on-primary: var(--my-on-primary);
  --mat-sys-primary-container: var(--my-primary-container);
  --mat-sys-on-primary-container: var(--my-on-primary-container);
  --mat-sys-inverse-primary: var(--my-primary-container);
  --mat-sys-primary-fixed: var(--my-primary-container);
  --mat-sys-primary-fixed-dim: var(--my-primary);
  --mat-sys-on-primary-fixed: var(--my-on-primary-container);
  --mat-sys-on-primary-fixed-variant: var(--my-primary);

  /* SECONDARY */
  --mat-sys-secondary: var(--my-secondary);
  --mat-sys-on-secondary: var(--my-on-secondary);
  --mat-sys-secondary-container: var(--my-secondary-container);
  --mat-sys-on-secondary-container: var(--my-on-secondary-container);
  --mat-sys-secondary-fixed: var(--my-secondary-container);
  --mat-sys-secondary-fixed-dim: var(--my-secondary);
  --mat-sys-on-secondary-fixed: var(--my-on-secondary-container);
  --mat-sys-on-secondary-fixed-variant: var(--my-secondary);

  /* TERTIARY */
  --mat-sys-tertiary: var(--my-tertiary);
  --mat-sys-on-tertiary: var(--my-on-tertiary);
  --mat-sys-tertiary-container: var(--my-tertiary-container);
  --mat-sys-on-tertiary-container: var(--my-on-tertiary-container);
  --mat-sys-tertiary-fixed: var(--my-tertiary-container);
  --mat-sys-tertiary-fixed-dim: var(--my-tertiary);
  --mat-sys-on-tertiary-fixed: var(--my-on-tertiary-container);
  --mat-sys-on-tertiary-fixed-variant: var(--my-tertiary);

  /* Variables adicionales no automatizadas */
  --mat-sys-background: light-dark(#fbf9f7, #121413);
  --mat-sys-on-background: light-dark(#1b1c1b, #e3e2e1);
  --mat-sys-surface: light-dark(#fbf9f7, #121413);
  --mat-sys-surface-dim: light-dark(#dbdad8, #121413);
  --mat-sys-surface-bright: light-dark(#fbf9f7, #383939);
  --mat-sys-surface-container-low: light-dark(#f5f3f2, #1b1c1b);
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #0d0e0e);
  --mat-sys-surface-container: light-dark(#efeeec, #1f201f);
  --mat-sys-surface-container-high: light-dark(#e9e8e6, #292a29);
  --mat-sys-surface-container-highest: light-dark(#e3e2e1, #343534);
  --mat-sys-on-surface: light-dark(#1b1c1b, #e3e2e1);
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-surface-tint: light-dark(#4d635d, #b4ccc4);
  --mat-sys-inverse-surface: light-dark(#303130, #e3e2e1);
  --mat-sys-inverse-on-surface: light-dark(#f2f0ef, #303130);
  --mat-sys-outline: light-dark(#727876, #8c928f);
  --mat-sys-outline-variant: light-dark(#c2c8c5, #424846);
  --mat-sys-neutral10: light-dark(#1b1c1b, #1b1c1b);
  --mat-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --mat-sys-on-error: light-dark(#ffffff, #690005);
  --mat-sys-error-container: light-dark(#ffdad6, #93000a);
  --mat-sys-on-error-container: light-dark(#410002, #ffdad6);
  --mat-sys-surface-variant: light-dark(#dee4e0, #424846);
  --mat-sys-on-surface-variant: light-dark(#424846, #c2c8c5);
  --mat-sys-neutral-variant20: light-dark(#2c3230, #2c3230);

  font-family: Poppins;
   --mat-sys-brand-font-family: Poppins;
  --mat-sys-plain-font-family: Poppins;
}
